<div class="recipe-container">
  @if (loading()) {
  <app-loader></app-loader>
  } @else {
  <app-back-header
    [title]="'Recipe Detail'"
    (backClick)="onBack()"
    [backgroundColor]="'var(--mat-app-bar-container-color)'"
  ></app-back-header>

  @if (recipe() && !loading() && isOwner()) {
  <button
    mat-fab
    extended
    color="primary"
    class="fab-fixed-bottom-right"
    (click)="onEditRecipe()"
    aria-label="Edit recipe"
  >
    <mat-icon>edit</mat-icon>
    Edit Recipe
  </button>
  } @if (error()) {
  <div class="error-message">{{ error() }}</div>
  } @if (recipe()) {
  <mat-card appearance="outlined" class="recipe-card" animate.enter="card-enter-animation">
    @if (recipe()?.imageUrl) {
    <img mat-card-image [src]="recipe()?.imageUrl" [alt]="recipe()?.title" />
    } @else {
    <div class="image-placeholder">{{ recipe()?.title }}</div>
    }

    <mat-card-header>
      <mat-card-title>{{ recipe()?.title }}</mat-card-title>
      <mat-card-subtitle>{{ recipe()!.owner | username }}</mat-card-subtitle>
    </mat-card-header>

    <mat-chip-set class="card-meta">
      <mat-chip>{{ recipe()!.difficulty | recipeDifficulty }}</mat-chip>
      <mat-chip>{{ recipe()!.duration | duration }}</mat-chip>
    </mat-chip-set>

    <mat-card-content>
      <p class="recipe-description">{{ recipe()?.description }}</p>

      @if (recipe()?.ingredients?.length) {
      <h3>Ingredients:</h3>
      <ul class="ingredients-list">
        @for (ingredient of recipe()?.ingredients; track ingredient) {
        <li>{{ ingredient }}</li>
        }
      </ul>
      }
    </mat-card-content>
  </mat-card>
  } }
</div>
