.recipe-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.error-message {
  color: var(--mat-error-text-color);
  margin: 16px;
  font-weight: bold;
  text-align: center;
}

/* Image Section - 50% of screen height, 100% width */
.recipe-image-container {
  width: 100%;
  height: 50vh;
  position: relative;
  margin-top: 20px;
}

.recipe-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: var(--mat-sys-corner-medium);
}

.image-placeholder {
  height: 100%;
  width: 100%;
  background-color: var(--mat-sys-surface-variant);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--mat-sys-on-surface-variant);
  font-weight: 500;
  border-radius: var(--mat-sys-corner-medium);
}

/* Dynamic Blocks Container */
.blocks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: -40px;
  padding: 0 20px 20px 20px;
  position: relative;
  z-index: 10;
  gap: 16px;
}

/* Recipe Block - Base styles for all blocks */
.recipe-block {
  flex: 0 1 calc(33.333% - 20px);
  max-width: 400px;
  border-radius: var(--mat-sys-corner-medium);
  overflow: hidden;
  box-shadow: var(--mat-sys-level3);
  position: relative;
  height: fit-content;
}

/* Responsive breakpoints */
@media (max-width: 1024px) {
  .recipe-block {
    flex: 0 1 calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .recipe-block {
    flex: 0 1 100%;
  }
}

/* Block header */
.recipe-block mat-card-header {
  padding: 16px 16px 8px 16px;
}

.recipe-block mat-card-title {
  font-size: 24px;
  font-weight: 500;
  color: var(--mat-sys-on-primary-container);
  margin-bottom: 4px;
}

.recipe-block mat-card-subtitle {
  color: var(--mat-sys-on-surface-variant);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

/* Block content */
.recipe-block mat-card-content {
  min-height: fit-content;
}

.block-title {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 12px 0;
  color: var(--mat-sys-on-surface);
}

.recipe-description {
  margin-bottom: 0;
  line-height: 1.8;
  font-size: 16px;
  color: var(--mat-sys-on-surface);
}

/* Chips section inside block */
.recipe-chips {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
}

.recipe-chips mat-chip {
  font-weight: 500;
}

/* ''FAB button */
.fab-fixed-bottom-right {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  box-shadow: var(--mat-sys-level5);
}
