<div class="recipe-container">
  @if (loading()) {
  <app-loader></app-loader>
  } @else {
  <app-back-header
    [title]="'Recipe Detail'"
    (backClick)="onBack()"
    [backgroundColor]="'var(--mat-app-bar-container-color)'"
  ></app-back-header>

  @if (recipe() && !loading() && isOwner()) {
  <button
    mat-fab
    extended
    color="primary"
    class="fab-fixed-bottom-right"
    (click)="onEditRecipe()"
    aria-label="Edit recipe"
  >
    <mat-icon>edit</mat-icon>
    Edit Recipe
  </button>
  } @if (error()) {
  <div class="error-message">{{ error() }}</div>
  } @if (recipe()) {

  <!-- Image Section -->
  <div class="recipe-image-container">
    @if (recipe()?.imageUrl) {
    <img [src]="recipe()?.imageUrl" [alt]="recipe()?.title" class="recipe-image" />
    } @else {
    <div class="image-placeholder">{{ recipe()?.title }}</div>
    }
  </div>

  <!-- Dynamic Blocks Container -->
  <div class="blocks-container">
    <!-- Block 1: Basic Info -->
    <mat-card appearance="outlined" class="recipe-block">
      <mat-card-header>
        <mat-card-title>{{ recipe()?.title }}</mat-card-title>
        <mat-card-subtitle>{{ recipe()!.owner | username }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p class="recipe-description">{{ recipe()?.description }}</p>
      </mat-card-content>
    </mat-card>

    <!-- Block 2: Tags/Meta -->
    <mat-card appearance="outlined" class="recipe-block">
      <mat-card-content>
        <h3 class="block-title">Tags</h3>
        <mat-chip-set class="recipe-chips">
          <mat-chip>{{ recipe()!.difficulty | recipeDifficulty }}</mat-chip>
          <mat-chip>{{ recipe()!.duration | duration }}</mat-chip>
        </mat-chip-set>
      </mat-card-content>
    </mat-card>
  </div>
  } }
</div>
