.recipe-card {
  /*max-width: 340px;*/
  /*max-height: 200px;*/
  width: 100%;
  height: 100%;
}

.recipe-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.recipe-card mat-card-content p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
