.manage-recipe-form {
  padding: 16px 4px 100px 4px;
  display: flex;
  flex-direction: column;
}

.recipe-info-panel {
  margin-top: 16px;
}

.recipe-info-panel .mat-mdc-form-field {
  display: block;
  margin-bottom: 16px;
}

mat-divider.manage-recipe-divider {
  padding-bottom: 32px;
}
