.back-button {
  background-color: var(--mat-sys-surface-variant);
  border-radius: 50%;
}

.manage-recipe-header {
  display: flex;
  align-items: center;
  gap: 16px;

  font-size: 18px;
  font-weight: 500;

  position: sticky;
  top: 0;
  background-color: var(--mat-sys-surface-container-low);
  z-index: 100;
  min-height: 60px;
}

.manage-recipe-form {
  padding: 16px 4px 80px 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.recipe-info-panel {
  margin-top: 16px;
}

.recipe-info-panel .mat-mdc-form-field {
  display: block;
  margin-bottom: 16px;
}

.manage-recipe-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
}
