.manage-recipe-form {
  padding: 16px 4px 120px 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.recipe-info-panel {
  margin-top: 16px;
}

.recipe-info-panel .mat-mdc-form-field {
  display: block;
  margin-bottom: 16px;
}
