.sidebar-wrapper {
    padding: 16px;
    height: 100dvh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--mat-sys-surface-container);

}

.top-wrapper {
    margin-bottom: 12px;
    text-align: center;
}

.logo {
    width: 56px;
    height: 56px;
    margin-bottom: 8px;
}

.title {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--mat-sys-on-surface-container);
    margin: 2px;
    text-align: center;
}

.bottom-wrapper {
    display: flex;
    justify-content: center;
}

.github-icon {
    color: var(--mat-sys-on-surface-container);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-icon svg {
    display: block;
    width: 24px;
    height: 24px;
    filter: drop-shadow(0 1px 2px var(--mat-sys-surface));
}