.main-layout {
  height: 100vh;
}

mat-drawer {
  width: 100px;
  border-right: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0;
}

mat-drawer-content {
  background: var(--mat-sys-surface-container-low);
}

.main-wrapper {
  padding: 24px;
  padding-bottom: 96px;
}
