.main-layout {
  height: 100vh;
  background: var(--mat-sys-surface-container-low);
}

mat-drawer {
  width: 100px;
  border-right: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0;
}

mat-drawer-content {
  height: 100%;
}

.main-wrapper {
  height: 100%;
  padding: 0 24px 0 24px;
  box-sizing: border-box;
}
