:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.search-field {
  --mat-sys-corner-extra-small: var(--mat-sys-corner-small);
  display: block;
  max-width: 600px;
  transition: all 0.2s linear;
  width: 100%;
}

.search-field.mat-focused {
  max-width: 620px;
}

.search-field
  ::ng-deep
  .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined.mdc-text-field--no-label {
  background: var(--mat-sys-background);
  border-radius: var(--mat-sys-corner-small);
}
