:host {
  height: 100%;
  display: block;
  box-sizing: border-box;
  position: relative;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  padding-bottom: 120px;
}

button.create-recipe {
  position: fixed;
  bottom: 24px;
  right: 24px;
}
