:host {
  height: 100vh;
  display: block;
  box-sizing: border-box;
  position: relative;
}

.recipes-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  /*gap: 12px;*/
}

app-search-bar {
  margin-top: 12px;
}

.list-wrapper {
  margin-top: 12px;

  flex: 1;
  display: block;
  box-sizing: border-box;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
}

app-empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card-paginator {
  align-self: end;
  border: 1px solid var(--mat-sys-outline-variant);
  border-bottom: 0px;
  box-shadow: var(--mat-card-container-elevation-shadow);

  transition:
    transform var(--mat-expansion-panel-container-animation-duration, 0.2s),
    box-shadow var(--mat-expansion-panel-container-animation-duration, 0.2s);

  padding: 8px 16px;

  width: auto;
  max-width: 810px;

  padding-bottom: 6px;
  border-radius: 12px 12px 0 0;

  margin-top: 24px;
  margin-right: 200px;
}

mat-divider {
  border-top-color: var(--mat-sys-on-primary-container);
  border-top-width: 4px;
  border-radius: var(--mat-sys-corner-extra-large);
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 12px;
}
