<div class="recipes-page-wrapper">
  <app-search-bar></app-search-bar>

  <mat-divider></mat-divider>

  <div class="list-wrapper">
    @if (loading()) {
    <app-loader></app-loader>
    } @else { @if (recipes() && recipes().length > 0) {
    <div class="recipes-grid">
      @for (recipe of recipes(); track recipe.id) { @if (recipe) {
      <app-recipes-card [recipe]="recipe"></app-recipes-card>
      } }
    </div>
    } @else {
    <app-empty-state text="No recipes found" icon="search_off"></app-empty-state>
    } }
  </div>

  @if (!loading() && !error()) {
  <mat-paginator
    class="card-paginator"
    [length]="pagination().totalItems"
    [pageIndex]="pagination().currentPage - 1"
    [pageSize]="pagination().pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
  }

  <button
    matFab
    appSuggestAuth
    extended
    class="fab-fixed-bottom-right"
    aria-label="Add recipe"
    (click)="onCreateRecipe()"
  >
    <mat-icon>add</mat-icon>
    New Recipe
  </button>
</div>
