<mat-card class="recipe-card" appearance="outlined" (click)="onViewDetails()">
  <div class="recipe-content">
    @if (recipe().imageUrl) {
    <img mat-card-image [src]="recipe().imageUrl" [alt]="recipe().title" />
    } @else {
    <div class="image-placeholder">{{ recipe().title }}</div>
    }
    <mat-card-header>
      <mat-card-title>{{ recipe().title }}</mat-card-title>
      <mat-card-subtitle>{{ recipe().owner | username }}</mat-card-subtitle>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
    </mat-card-header>
    <mat-card-content>
      <p>{{ recipe().description }}</p>
    </mat-card-content>
  </div>
  <mat-card-actions (click)="$event.stopPropagation()">
    <button mat-button class="view-button" (click)="onViewDetails()">
      View <mat-icon>arrow_forward</mat-icon>
    </button>
    @if (isOwner()) {
    <button mat-icon-button [matMenuTriggerFor]="optionsMenu" aria-label="More options">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #optionsMenu="matMenu">
      <button mat-menu-item (click)="onEdit()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="onDelete()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
    }
  </mat-card-actions>
</mat-card>
